<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<button onclick="location.href = 'https://twitter.com/oauth/authenticate?oauth_token=<%= requestToken %>'" class="btn btn-default col-xs-1 col-xs-offset-5" style="margin-top: 25%">Start</button>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
